/target/
/.embuild/
sdkconfig
sdkconfig.old
dependencies.lock
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
.rustc_info.json
*.log
*.tmp
*.bak
*.orig
*.rej
.DS_Store
